@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 20px;
}
/* Одна строка */
.single-line{
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/* Две строки */
.two-lines{
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
/* Три строки */
.three-lines{
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
body{
  position: relative;
  line-height: 1.2;
  font-family: var(--ff-poppins);
  font-size: 14px;
  min-width: 320px;
  width: 100%;
  height: 100%;
}
.btn{
  background: transparent;
  border: none;
}
.hidden{
  display: none !important;
}
.wrap{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.error{
  border: solid 1px #ff0000;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}