*{
  --ff-poppins: 'Poppins', sans-serif;
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --ff-opensans: 'Open Sans', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-main: 'Roboto', sans-serif;
  --text-black: #000;
  --text-white: #fff;
  --text-accent: #ffa500;
}